<html>
<head>
    <title>Small Ansible Demo</title>
</head>
<body>
    
        <br><br>
        <h1 align ="center"> My first static html </h1>
                
        <font align = "center" size="+2">
        
        <p style="line-height:0.5"> Thank you for reading this post. </p>        
        <p style="line-height:0.5"> This is Andrei's static html site v 1.0 </p> 
        <p style="line-height:0.5"> My IP Address is {{ ansible_host.ipv4.address }} </p>
        
        </font>
        
</body>
</html>